{% extends "layouts/main.html" %}

{% set serviceName = "Ofqual regulations" %}

{% set pageName = "Regulations that apply to types of qualification" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set backLink = "../" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <nav>
  {{ govukBackLink({
  text: "Back",
  href: backLink
  }) }}
  </nav>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>
      
      <p class="govuk-body-m">The documents in this section apply to all organisations that offer these specific types of qualification. They are sometimes called qualification-level conditions.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="aea/">advanced extension awards (AEA)</a></li>
        <li><a class="govuk-link" href="aaq-and-toq/">alternative academic qualifications and technical occupation qualifications</a></li>
        <li><a class="govuk-link" href="epa/">apprenticeship end-point assessments (Ofqual regulated)</a></li>
        <li><a class="govuk-link" href="as-and-a-level/">AS and A levels (GCEs)</a></li>
        <li><a class="govuk-link" href="esol/">English for speakers of other languages (ESOL) qualifications</a></li>
        <li><a class="govuk-link" href="eds/">essential digital skills</a></li>
        <li><a class="govuk-link" href="fsq/">functional skills qualifications</a></li>
        <li><a class="govuk-link" href="gcse/">GCSEs</a></li>
        <li><a class="govuk-link" href="level1-level2/">level 1 and level 2 certificates (international GCSEs)</a></li>
        <li><a class="govuk-link" href="level2-toq/">level 2 technical occupation qualifications</a></li>
        <li><a class="govuk-link" href="progression/">progression qualifications</a></li>
        <li><a class="govuk-link" href="project/">project qualifications</a></li>
        <li><a class="govuk-link" href="ptq/">qualifications included in school performance tables</a></li>
        <li><a class="govuk-link" href="technical/">technical qualifications</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
