{% extends "layouts/main.html" %}

{% set serviceName = "Ofqual regulations" %}

{% set pageName = "Regulations for types of qualifications" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set backLink = "../" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "../"
      },
      {
        text: pageName
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" data-module="edge">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>
      
      <p class="govuk-body-m">The documents in this section apply to all organisations that offer these specific types of qualification. They are sometimes called qualification-level conditions.</p>

      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link" href="#">Advanced extension awards (AEA)</a></li>
        <li><a class="govuk-link" href="#">Alternative academic qualifications and technical occupation qualifications</a></li>
        <li><a class="govuk-link" href="#">Apprenticeship end-point assessments (Ofqual regulated)</a></li>
        <li><a class="govuk-link" href="#">AS and A levels (GCEs)</a></li>
        <li><a class="govuk-link" href="#">English for speakers of other languages (ESOL) qualifications</a></li>
        <li><a class="govuk-link" href="#">Essential digital skills</a></li>
        <li><a class="govuk-link" href="#">Functional skills qualifications</a></li>
        <li><a class="govuk-link" href="#">GCSEs</a></li>
        <li><a class="govuk-link" href="#">Level 1 and level 2 certificates (international GCSEs)</a></li>
        <li><a class="govuk-link" href="#">Level 2 technical occupation qualifications</a></li>
        <li><a class="govuk-link" href="#">Progression qualifications</a></li>
        <li><a class="govuk-link govuk-!-font-weight-bold" href="project/">Project qualifications</a></li>
        <li><a class="govuk-link" href="#">Qualifications included in school performance tables</a></li>
        <li><a class="govuk-link" href="#">Technical qualifications</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
