{% extends "layouts/main.html" %}

{% set serviceName = "Ofqual regulations" %}

{% set pageName = "Conditions for specific organisations" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set backLink = "../" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../"
    },
    {
      text: pageName
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" data-module="edge">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{pageName}}</h2>
      <p class="govuk-body-m">Sometimes, when Ofqual recognises an awarding organisation, it does so conditionally. In these cases, the organisation has to follow rules specifically set for it. This is usually the case where the organisation is new or has not had a lot of previous experience offering the types of qualification it has applied to offer as regulated qualifications, but it may also happen after an audit or investigation of an organisation. These rules are called 'special conditions'.</p>
      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link" href="2024-01-lcm/">London College of Music Examinations (University of West London)</a> &lt; this one<br><span class="govuk-body-s">January 2024</span></li>
        <li><a class="govuk-link" href="#">GP Strategies Assessment Services Limited (GPSAS or GP Strategies Training Ltd.)</a><br><span class="govuk-body-s">November 2023</span></li>
        <li><a class="govuk-link" href="#">ISM Education Ltd.</a><br><span class="govuk-body-s">September 2021</span></li>
      </ul>
    </div>
  </div>

{% endblock %}
